




# all the angular stuff

angular/dist
angular/tmp
angular/out-tsc
# Only exists if Bazel was run
angular/bazel-out

# dependencies
angular/node_modules

# profiling files
angular/chrome-profiler-events*.json
angular/speed-measure-plugin*.json

# IDEs and editors
angular/.idea
angular/.project
angular/.classpath
angular/.c9/
angular/*.launch
angular/.settings/
angular/.sublime-workspace

# IDE - VSCode
angular/.vscode/*
angular/!.vscode/settings.json
angular/!.vscode/tasks.json
angular/!.vscode/launch.json
angular/!.vscode/extensions.json
angular/.history/*

# misc
angular/.sass-cache
angular/connect.lock
angular/coverage
angular/libpeerconnection.log
angular/npm-debug.log
angular/yarn-error.log
angular/testem.log
angular/typings

# System Files
angular/.DS_Store
angular/Thumbs.db

*.csv
*.class
*.vscode
*.gitignore
*.config
*.yml
*.jar

CS3250/target/maven-archiver/pom.properties
CS3250/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
CS3250/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
CS3250/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
CS3250/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
CS3250/target/surefire-reports/CS3250.EntryTest.txt
CS3250/target/surefire-reports/CS3250.InventoryUpdateTest.txt
CS3250/target/surefire-reports/CS3250.MainTest.txt
CS3250/target/surefire-reports/CS3250.POTest.txt
CS3250/target/surefire-reports/CS3250.SQLDataTest.txt
CS3250/target/surefire-reports/CS3250.UserDataTest.txt
CS3250/target/surefire-reports/TEST-CS3250.EntryTest.xml
CS3250/target/surefire-reports/TEST-CS3250.InventoryUpdateTest.xml
CS3250/target/surefire-reports/TEST-CS3250.MainTest.xml
CS3250/target/surefire-reports/TEST-CS3250.POTest.xml
CS3250/target/surefire-reports/TEST-CS3250.SQLDataTest.xml
CS3250/target/surefire-reports/TEST-CS3250.UserDataTest.xml
CS3250/config

