<div class="row">
    
    <div class="container pr-6px col-lg-2 col-sm-4 col-xlg-2">
        <div class="container">
            <div class=" m-0 b-0 p-1 jumbotron bg-light">
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0 " width="120" height="120"
                            src="https://th.bing.com/th/id/R94897e963b2216a42c1681a6a1472c4e?rik=oxG3%2b%2fqhxFRb5g&riu=http%3a%2f%2fwww.martinkellockpots.com.au%2fimages%2fceramic-unglazed-pots%2fbaked-earth%2fplain-florentine.jpg&ehk=XXNxS9%2bYfgQSF%2f6sp0eLUKdG2eX7uQ%2fFbrbx4zpI0j4%3d&risl=&pid=ImgRaw" />
                    </div>
                    <div class="col-6"><img class="m-0 p-0 " width="120" height="120"
                        src="https://cdn3.bigcommerce.com/s-ph391jd/products/41695/images/65401/ACI-125__MAIN__WB__20802.1476802703.1280.1280.jpg?c=2" />
</div>
                </div>
                <div class="row">
                    <div class="col-6"><img class="m-0 p-0 " width="120" height="120"
                        src="https://th.bing.com/th/id/Rb4ea1cfcb64d13cab8aeb04ace0aac28?rik=HKPM5RSkpLcu7A&riu=http%3a%2f%2fwww.williams-sonoma.ca%2fcore%2fmedia%2fmedia.nl%3fid%3d53968919%26c%3d3572911%26h%3d3e000a3d4398cf89ea60%26resizeid%3d19%26resizeh%3d1200%26resizew%3d1200&ehk=4KftjGD3u8T2gNuHkCwoLoBszIu1LEFC5lvm665ykgQ%3d&risl=&pid=ImgRaw" />
</div>
                    <div class="col-6"><img class="m-0 p-0 " width="120" height="120"
                        src="https://i5.walmartimages.com/asr/b1e42552-92e6-4694-a141-8a64e37f3fe4_1.283ef5e3aaf3d3c770d8d7570655ccd3.jpeg" />
</div>
                </div>
                
            </div>
            <h4 style="text-align: center ;">
                Kitchen
            </h4>
        </div>
    </div>


    <div class="container col-3 col-lg-2">
        <div class="container">
            <div class="  m-0 b-0 p-1 jumbotron bg-light">
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                            src="https://images-na.ssl-images-amazon.com/images/I/81ptbxCLuzL._SL1500_.jpg" />
                        
                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/OIP.M0hI3rydrBc6kDjY0On6jgHaHa?pid=ImgDet&rs=1" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/Reca6c0e80317aef62cee2e2b00ed340d?rik=J9%2bs4YRZtUapDg&riu=http%3a%2f%2fstatic3.galls.com%2fphotos%2fstyles%2fTR1091_NAV_1500_2.jpg&ehk=qO5VTaqiBkOiS1mLv6UV2ek4OwlCUxgPzr22VfoYFZ8%3d&risl=&pid=ImgRaw" />

                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/Reb768cdf4fe77fdf988f1e379293c96c?rik=ij15VkfFo2Cw5w&riu=http%3a%2f%2fwww.nielsenanimal.com%2fwp-content%2fuploads%2f2018%2f09%2fmens-nike-streak-swoosh-qtt-t-shirt-white-t-shirts.jpg&ehk=a0C9WSTRKg8meyKxaoZGYJcMf07t7U%2bEl8ahyEhq1Ds%3d&risl=&pid=ImgRaw" />

                    </div>
                </div>
            </div>
            <h4 style="text-align: center ;">
                Clothing
            </h4>
        </div>
    </div>


    <div class="container col-3 col-lg-2">
        <div class="container">
            <div class="  m-0 b-0 p-1 jumbotron bg-light">
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                            src="https://th.bing.com/th/id/R290ffee3aedeb4ad32b5953425ff43f7?rik=PZms24aR%2b95w8Q&riu=http%3a%2f%2fcdn.sweatband.com%2fasics_gt-2000_3_mens_running_shoes_side_view_2000x2000.jpg&ehk=%2fnN6ZSxC%2fr2u7gkZ0u9KAAtvAgjMWEWQpxTLTeJEWG8%3d&risl=&pid=ImgRaw" />
                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/OIP.pzGHXyJndnuybtSTkh5ySQHaHa?pid=ImgDet&rs=1" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0 img-responsive" width="120" height="120"
                        src="https://th.bing.com/th/id/Rb643f629c0364557ba952bb6f9a9de84?rik=oRtuwgFUARKzMg&riu=http%3a%2f%2fimages.linnlive.com%2f99ce066ce3835c1866acfbda5dc53922%2f259c061f-0776-45f3-a8e3-35ae38cfc008.jpg&ehk=YcBbkfL%2fICkUpTJ60rfIvHU21yiDSUCsXJGc9BMFDoc%3d&risl=&pid=ImgRaw" />

                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/OIP.BiSIrebR999JDPnSB3JUqgHaHa?pid=ImgDet&rs=1" />

                    </div>
                </div>
            </div>
            <h4 style="text-align: center ;">
                Shoes
            </h4>
        </div>
    </div>


    <div class="container col-3 col-lg-2">
        <div class="container">
            <div class="  m-0 b-0 p-1 jumbotron bg-light">
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                            src="https://sigma.octopart.com/130779683/image/Klein-Tools-94126.jpg" />
                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/R6adb6cc123fd575aae2b60ac68d3224b?rik=9fZJxgf2YucOAg&riu=http%3a%2f%2fi.ebayimg.com%2fimages%2fi%2f381055729015-0-1%2fs-l1000.jpg&ehk=RrA%2f0M4joI%2fhgQ5F4xHcJOLWxW4EwW%2fqrtP%2f%2f6gFrO4%3d&risl=&pid=ImgRaw" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/R64cea969f500a597cdc2f9e1b6b639b3?rik=kSxsLgD%2fP8ZVGQ&riu=http%3a%2f%2fpremiereeventsonline.com%2fwp-content%2fuploads%2f2014%2f03%2fWater-Hose.jpg&ehk=4RlxWoOuPha4yi2Us4EXoKgHxlgrp5c8J510jGCk%2ffI%3d&risl=&pid=ImgRaw" />

                    </div>
                    <div class="col-6">
                        <img class="m-0 p-0" width="120" height="120"
                        src="https://th.bing.com/th/id/OIP._Sf8Gsqh6g9yCYgNvWBl4AHaHa?pid=ImgDet&rs=1" />

                    </div>
                </div>
            </div>
            <h4 style="text-align: center ;">
                Hardware
            </h4>

        </div>
    </div>
</div>